<meta charset="UTF-8">
<meta name="theme-color" content="#0b1315">
<meta name="color-scheme" content="normal">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>connect4</title>
<link rel="stylesheet" href="/stylesheets/style.css">