<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
  <div>
  <h1 style="color: <%= color %>"><%= code %></h1>
  <h2><%= message %></h2>
  </div>
</body>
</html>