<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") -%>
  <link rel="stylesheet" href="/stylesheets/game.css">
</head>
<body>
  <main>
    <form action="/">
      <button type="submit" id="menu"></button>
    </form>

    <section id="queue-screen">
        <h1>Waiting for an opponent</h1>
        <h2>00:00</h2>
    </section>

    <section id="end-screen" hidden>
      <h1></h1>
      <button id="play">Play again</button>
    </section>

    <section id="game-screen" hidden>
      <div>
        <h2></h2>
        <img src="images/board.svg" alt="Game board">
        <div id="board-grid"></div>
        <h2></h2>
      </div>
      <p></p>
    </section>
  </main>
  <script src="javascripts/messages.js"></script>
  <script src="javascripts/types.js"></script>
  <script src="javascripts/game.js"></script>
  <script src="javascripts/endScreen.js"></script>
  <script src="javascripts/queueScreen.js"></script>
  <script src="javascripts/gameScreen.js"></script>
  <script src="javascripts/main.js"></script>
</body>
</html>